@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, sans-serif;
    color: #373E40;
}

/* Logo */

#logo {
    font-size: 280%;
    float: left;
    margin-left: 30px;
    text-decoration: none;
}

.heading {
    text-decoration: none;
    color: red;
}

.heading:hover {
    text-decoration: none;
    color: #373E40;
    background-color: white;
}

/* Media query */

@media screen and (max-width: 768px) {
    #logo {
        font-size: 250%;
    }
   
}

/* Navigation */

#nav-links {
    height: 75px;
    background-color: #373E40;
}

#nav-links, #logo {
    line-height: 75px;
    text-decoration: none;
}

#nav-links li {
    font-size: 150%;
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-links a {
    text-decoration: none;
    columns: inherit;
}

@media screen and (max-width: 768px) {
    #nav-links li {
        font-size: 90%;
        width: 25%;
        text-align: center;
        margin-right: 0;
    }
    #nav-links {
        height: 150px;
    }
    #logo {
        width: 100%;
        text-align: center;
        margin: 0;
    }
}

/* Header */

#header {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/chillis-background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#h2-header {
    text-align: center;
    font-size: 55px;
    margin-top: 100px;
    padding-bottom: 5px;
    color: white;
}

#h3-header {
    text-align: center;
    margin: 50px;
    color: white;
    font-size: 25px;
}

#btn-header {
    padding: 22px;
    background-color: #373E40;
    border-radius: 25px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#btn-header:hover {
    background-color: white;
    color: #373E40;
}

#btn-container-div {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    #h2-header {
        margin-top: 40px;
        font-size: 40px;
    }

    #btn-header {
        font-size: 25px;
    }
}

/* Generic */
.heading-h2 {
    padding-top: 55px;
    text-align: center;
    font-size: 42px;
    color: #373E40;
}

.heading-h2-alt {
    padding-top: 55px;
    text-align: center;
    font-size: 42px;
    color: white;   
}

.sub-heading-h3 {
    font-size: 25px;
    padding-bottom: 5px;
    color: #373E40;
}

.sub-heading-h3-alt {
    font-size: 25px;
    padding-bottom: 5px;
    color: white;
}

.round-img {
    max-width: 75%;
    height: 100%;
    padding: 50px;
    border-radius: 50%;
}

/* About Us */

#about-us {
    min-height: 600px;
    background-color: white;
}

#about-left {
    padding: 50px 50px 50px;
    width: 33%;
    height: auto;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

#about-right {
    padding: 50px 50px 50px;
    width: 33%;
    height: auto;
    float: right;
    box-sizing: border-box;
    text-align: center;
}

#about-center {
    padding: 50px 50px 50px;
    width: 33%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #about-left, #about-right, #about-center {
        width: 100%;
        padding: 30px 50px;
        float: none;
    }

    .round-img {
        padding: 30px;
    }
}

/* Recipe of the Week */

#recipe {
    min-height: 600px;
    background-color: #373E40;
    color: white;
}

.recipe-content li {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.recipe-img {
    max-width: 75%;
    height: 100%;
    border-radius: 50%;
}

#recipe-left {
    padding: 50px 50px 50px;
    width: 33%;
    height: 75%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

#recipe-right {
    padding: 50px 50px 50px;
    width: 33%;
    height: 75%;
    float: right;
    box-sizing: border-box;
    text-align: left;
}

#recipe-center {
    padding: 50px 50px 50px;
    width: 33%;
    height: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
}

@media screen and (max-width: 768px) {
    #recipe-left, #recipe-right, #recipe-center {
        width: 100%;
        padding: 30px 50px;
        float: none;
    }

    .round-img {
        padding: 30px;
    }
}

/* Join our mailing list */
#join-us {
    height: 600px;
    background-color: white;
}

.join-us-h3 {
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
}

.iframe-playlist {
    padding: 50px 50px 50px;
    width: 33%;
    height: 75%;
    float: left;
    box-sizing: border-box;
}

#send-us .heading-h2 {
    margin-bottom: 30px;
}

#send-us #fname, #lname, #email, #submit, #user-recipe {
    border-style: solid;
    border-width: 1px;
    border-color: #373E40;
    font-size: 25px;
    background-color: #373E40;
    padding-left: 5px;
    padding-right: 5px;
    color: #373E40;

}

.form-label {
    max-width: 100%;
    display: inline-block;
    text-align: right;
}

#form-id {
    max-width: 60%;
    float: left;
    padding-left: 22px;
    padding-right: 100px;
    font-size: 25px;
    margin-top: 100px;
}

#submit:hover {
    background-color: #373E40;
    color: white;
}

@media screen and (max-width: 768px) {
    .iframe-playlist {
        padding: 50px 50px 50px;
        width: 100%;
        height: 41%;
        float: left;
        box-sizing: border-box;
    }

    #form-id {
        margin-top: 0;
        padding-right: 100px;
        margin-bottom: 20px;
    }
    
    #send-us #fname, #lname, #email, #submit, #user-recipe {
        display: block;
    }
}

/* Footer */

.our-fav-header {
    text-align: center;
    font-size: 42px;
    color: white;   
    background-color:#373E40; 
}

iframe {
    display: block;
    width: 100%;
    height: 450px;
}

#footer {
    height: 75px;
    background-color: #373E40;
}

.footer-content {
    max-width: 20%;
    margin: auto;
}

.social-styling {
    color: white;
    text-decoration: none;
}

#socials li {
    float: left;
    list-style-type: none;
    overflow: hidden;
    line-height: 75px;
    overflow: hidden;
    width: 33%;
    text-align: center;
    font-size: 150%;
}

@media screen and (max-width: 768px) {
    .footer-content {
        max-width: 100%;
    }

    #socials li {
        font-size: 90%;
    }
}

    