@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, sans-serif;
    color: #F25757;
}

/* Logo */

#logo {
    font-size: 250%;
    float: left;
    margin-left: 30px;
    text-decoration: none;
}

.heading {
    text-decoration: none;
    color: white;
}

.heading:hover {
    text-decoration: none;
    color: #F25757;
    background-color: white;
}

/* Navigation */

#nav-links {
    height: 75px;
    background-color: #F25757;
}

#nav-links, #logo {
    line-height: 75px;
    text-decoration: none;
}

#nav-links li {
    font-size: 120%;
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-links a {
    text-decoration: none;
    columns: inherit;
}

/* Header */

#header {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/chillis-background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#h2-header {
    text-align: center;
    font-size: 3em;
    margin-top: 100px;
    padding-bottom: 5px;
    color: white;
}

#h3-header {
    text-align: center;
    margin: 50px;
    color: white;
}

#btn-header {
    padding: 1em;
    background-color: #F25757;
    border-radius: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

#btn-header:hover {
    background-color: white;
    color: #F25757;
}

#btn-container-div {
    display: flex;
    justify-content: center;
}

/* Generic */
.heading-h2 {
    padding-top: 55px;
    text-align: center;
    font-size: 2.5em;
    color: #F25757;
}

.heading-h2-alt {
    padding-top: 55px;
    text-align: center;
    font-size: 2.5em;
    color: FFFBFF;
}

.sub-heading-h3 {
    font-size: 1.3em;
    padding-bottom: 1em;
    color: #F25757;
}

.sub-heading-h3-alt {
    font-size: 1.3em;
    padding-bottom: 1em;
    color: FFFBFF;
}

.round-img {
    max-width: 75%;
    height: 100%;
    padding: 50px;
    border-radius: 50%;
}

/* About Us */

#about-us {
    min-height: 600px;
    background-color: white;
}

#about-left {
    padding: 50px 50px 50px;
    width: 33%;
    height: auto;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

#about-right {
    padding: 50px 50px 50px;
    width: 33%;
    height: auto;
    float: right;
    box-sizing: border-box;
    text-align: center;
}

#about-center {
    padding: 50px 50px 50px;
    width: 33%;
    height: auto%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

/* Recipe of the Week */

#recipe {
    min-height: 600px;
    background-color: #F25757;
    color: white;
}

.recipe-content li {
    font-size: 14px;
    margin-bottom: 8px;
}

.recipe-img {
    max-width: 75%;
    height: 100%;
    border-radius: 50%;
}

#recipe-left {
    padding: 50px 50px 50px;
    width: 33%;
    height: 75%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

#recipe-right {
    padding: 50px 50px 50px;
    width: 33%;
    height: 75%;
    float: right;
    box-sizing: border-box;
    text-align: left;
}

#recipe-center {
    padding: 50px 50px 50px;
    width: 33%;
    height: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
}

/* Join our mailing list */
#join-us {
    height: 600px;
    background-color: white;
}

.join-us-h3 {
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
}

.iframe-playlist {
    padding: 50px 50px 50px;
    width: 33%;
    height: 75%;
    float: left;
    box-sizing: border-box;
}

#send-us .heading-h2 {
    margin-bottom: 30px;
}

#send-us #fname, #lname, #email, #submit, #user-recipe {
    border-style: solid;
    border-width: 1px;
    border-color: #F25757;
    font-size: 25px;
    background-color: #F25757;
    padding-left: 5px;
    padding-right: 5px;
    color: white;

}

.form-label {
    max-width: 100%;
    display: inline-block;
    text-align: right;
}

#form-id {
    max-width: 60%;
    /* margin: 0 auto; */
    float: left;
    padding-left: -22px;
    padding-right: 100px;
    line-height: 300px;
    font-size: 25px;
}

/* Footer */

iframe {
    display: block;
    width: 100%;
    height: 450px;
}

#footer {
    height: 75px;
    background-color: #F25757;
}

.footer-content {
    max-width: 80%;
    margin: auto;
}

#socials li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    overflow: hidden;
}

#sign-up {
    float: right;
    margin-right: 30px;
}

#socials li, #sign-up {
    line-height: 75px;
    overflow: hidden;
    text-decoration: none;
}