@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    color: black;
}

/* Navigation */

nav {
    background-color: black;
    color: white;    
}

#logo {
    font-size: 250%;
    float: left;
}

#nav-links {
    font-size: 110%;
    float: right;
}
